instrument,last_price_today,open_today,high_today,low_today,close_today,last_price_prev,open_prev,high_prev,low_prev,close_prev
NSE:DCBBANK,199.9,199.9,199.9,199.9,197.9,197.9,195.2,199.25,193.25,197.9
